#page{
display: flex;
flex-direction: column;
margin: 50px;
width: 100;
height: 100%;
}

#headliner{
    display:flex;
    flex-direction: row;
    font-family: monospace;
    font-size: 15px;
}

#content{
    display: flex;
    flex-direction: row;
}





#p1{
    
    margin-left: 0px;
    margin-right: auto;
}

#p2{
    margin-right: 0px;
    margin-left: auto;
}

#all_nav{
    width: 300px;
    height: auto;
}

#blank{
    height: 100px;
}

.nav0{
    font-size: 20px;
    font-family: monospace;
    margin-bottom: 10px;
}

.nav1{
    font-size: 15px;
    font-family: monospace;
}

#blank2{
    height:40px

}